# Environnement virtuel
.venv/
uv.lock
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Fichiers de données potentiellement privés ou volumineux
data/

# Résultats et sorties générées
outputs/
figures/
*.png
*.jpg
*.pdf
*.svg

# Fichiers auxiliaires ou temporaires
*.log
*.tmp
*.bak

# Fichiers système MacOS
.DS_Store

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.so

# Dossiers d’édition/IDEs
.vscode/
.idea/
*.swp

# Support présentation
presentation/*.pptx
presentation/*.pdf

